
html{
    background-color: white;
}

body{
    background-color: black;
    color: white;
}
h1{
    color: white;
    font-size: 2rem;
}
.container{
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
.text-center{text-align: left;}
img{
    border-radius: 1rem;
    margin: 1rem;
}
.navbar{ 
    list-style-type:none;
}
.story {
    font-family: "Arial";
    color: white;
    

}