body{
    background-color: beige;
}
h1{
    color: green;
    font-size: 2rem;
}
.container{
    font-family: 'Times New Roman', Times, serif;
    margin: 2rem;
    background-color: #d2b486;
    border-radius: 2rem;
}
img{
    border-radius: 1rem;
    margin: 1rem;
}